body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: #14274A;

}
.bg {
    background: url("../images/fon.jpg") center no-repeat;
    width: 1900px;
    height: 1080px;
}
.active1 {
    text-decoration: underline;
}
.logo {
    width: 256px;
    height: 149px;
    font-weight: 700;
    color: #14274A;
    background: #E0B973;
    padding: 1.875rem;
    border-radius: 0 0 50px 50px;
}
.luxury {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.15em;
    margin-bottom: 0.75rem;
}
.hotels {
    font-size: 0.938rem;
    line-height: 1.125rem;
    letter-spacing: 0.6em;
    margin-left: 3.125rem;
}
ul {
    margin-top: 3rem;
}
.nav-link {
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: #FFFFFF;
}
.nav-link:hover {
    color: #E0B973;
}
.header-content  {
    color: #FFFFFF;
}
.welcom {
    margin-top: 12rem;
    font-size: 3.125rem;
    line-height: 3.813rem;
}
h1 {
    font-weight: 700;
    font-size: 9.625rem;
    line-height: 11.563rem;
    letter-spacing: 0.07em;
}
.header-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.header-text {
    margin-bottom: 6.75rem;
    letter-spacing: 0.1em;
}
.header-btn {
    background: #E0B973;
    border: 2px solid #E0B973;
    border-radius: 5%;
    width: 16rem;
    height: 4rem;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-btn {
    margin-right: 1.125rem;
}
.header-btn:hover {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
.section1-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #14274A;
    margin-top: 5.813rem;
    margin-bottom: 5.813rem;
}
.cardhome {
    background: rgba(20, 39, 74, 0.2);
    width: 45rem;
    height: 30rem;
    margin-bottom: 5rem;
}
.card {
    --bs-card-border-width: 0;
    color: #14274A;
}
.section1-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
}
.card-title {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 0.02em;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.card-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #14274A;
    margin-right: 3rem;
    max-width: 33.875rem;
    margin-bottom: 1.875rem;
}
 .btn-card {
    background: #E0B973;
    width: 14.75rem;
    height: 3.938rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: 1px solid #E0B973;
    text-decoration: none;
    padding: 3% 5% 3% 5%;
 }
.btn-card:hover {
    background: #fff;
    color: #E0B973;
}
.slider-title {
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.5rem;
    color: #14274A;
    margin-top: 4rem;
}
.slider-text {
    font-size: 1.875rem;
    line-height: 2.313rem;
    color: #14274A;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    max-width: 37rem;
}
.slider-name {
    line-height: 1.875rem;
    color: #14274A;
    margin-bottom: 11rem;
}
footer {
    background: url('../images/footer-img.jpg') no-repeat;
    color: #fff;
}
.footer {
    justify-content: space-between;
}
.footer-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.15em;
    padding-top: 6.5rem;
}
.footer-title2 {
    font-size: 0.563rem;
    line-height: 0.688rem;
    letter-spacing: 0.6em;
    margin-bottom: 2rem;
}
.footer-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.063rem;
}
.footer-menu {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.sozial {
    display: flex;
}
.footer-search {
    margin-top: 3rem;
}
.fild, .btn-fild {
    height: 3.25rem;
    color: #fff;
    margin-top: 6rem;
}
.btn-fild {
    background-color: #E0B973;
    border: 1px solid #E0B973;
}
.btn-fild:hover {
    color: #E0B973;
    background-color: #fff;
}
.bg-page1 {
    background: url("../images/bg-page1.jpg") center no-repeat rgba(20, 39, 74, 0.5);
    width: 1900px;
    height: 1080px;
}
.title-page1 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.563rem;
    text-align: center;
    letter-spacing: 0.05em;
    color: #14274A;
    margin-top: 5.125rem;
    margin-bottom: 2.125rem;
}
.text-page1 {
    text-align: center;
    margin-bottom: 5.125rem;
}
.page1-img {
    margin-bottom: 11.625rem;
    width: 1590px;
    height: 1060px;
}
.bg-page2 {
    background: url("../images/bg-page2.jpg") center no-repeat rgba(20, 39, 74, 0.5);
    width: 1900px;
    height: 1080px;
}
.card-room {
    background: #FFFFFF;
    border: 2px solid #14274A;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 5.063rem;
}
.room-title {
    background-color: #14274A;
    color: #fff;
    height: 8.813rem;
    max-width: 99.938rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.563rem;
} 
.room-wrapper {
    display: flex;
    padding: 5%;
    justify-content: space-between;
}
.view {
    display: flex;
}
.room-details {
    margin-left: 1.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    color: #14274A;
}
 .room-btn {
    background: #E0B973;
    border-radius: 1px;
    height: 5.5rem;
    width: 18rem;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E0B973;
 }
  .room-btn:hover {
    color: #E0B973;
    background-color: #fff;
  }
  .bg-contact {
    background: #14274A;
    width: 120rem;
    height: 29.063rem;
  }
  .contact-title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 6.125rem;
    color: #FFFFFF;
    margin-top: 2.938rem;
    max-width: 35rem;
  }
  .form-mail {
    margin-top: 1.875rem;
  }
  .form-message {
    margin-top: 1.875rem;
  }
  .title-contact {
    margin-top: 12rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.5rem;
    color: #14274A;
  } 
  .text-contact {
    margin-bottom: 18rem;
    font-size: 1.875rem;
    line-height: 2.313rem;
    margin-top: 2rem;
  }
  .wrapper-contact {
    display: flex;
    justify-content: space-between;
  }
  .daten-contact {
    font-size: 2.5rem;
    line-height: 3.063rem;
  }
  .address {
    margin-bottom: 2rem;
  }
.contact-btn {
    margin-top: 2rem;
    margin-bottom: 20rem;
    background: #E0B973;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E0B973;
    width: 9rem;
}
    
.contact-btn:hover {
    color: #E0B973;
    background-color: #fff;
    border: 1px solid #E0B973;
}