body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: #14274A;

}
.bg {
    background: url("../images/fon.jpg") center no-repeat rgba(20, 39, 74, 0.5);
    width: 1900px;
    height: 1080px;
}
.logo {
    width: 256px;
    height: 149px;
    font-weight: 700;
    color: #14274A;
    background: #E0B973;
    padding: 1.875rem;
    border-radius: 0 0 50px 50px;
}
.luxury {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.15em;
    margin-bottom: 0.75rem;
}
.hotels {
    font-size: 0.938rem;
    line-height: 1.125rem;
    letter-spacing: 0.6em;
    margin-left: 3.125rem;
}
ul {
    margin-top: 3rem;
}
.nav-link {
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: #FFFFFF;
}
.header-content  {
    color: #FFFFFF;
}
.welcom {
    margin-top: 12rem;
    font-size: 3.125rem;
    line-height: 3.813rem;
}
h1 {
    font-weight: 700;
    font-size: 9.625rem;
    line-height: 11.563rem;
    letter-spacing: 0.07em;
}
.header-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.header-text {
    margin-bottom: 6.75rem;
    letter-spacing: 0.1em;
}
.header-btn {
    background: #E0B973;
    border: 2px solid #E0B973;
    border-radius: 5%;
    width: 16rem;
    height: 4rem;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-btn {
    margin-right: 1.125rem;
}
.header-btn:hover {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
.section1-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #14274A;
    margin-top: 5.813rem;
    margin-bottom: 5.813rem;
}
.cardhome {
    background: rgba(20, 39, 74, 0.2);
    width: 45rem;
    height: 30rem;
    margin-bottom: 5rem;
}
.card {
    --bs-card-border-width: 0;
    color: #14274A;
}
.section1-title {
    margin-left: 6rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
}
.card-title {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 0.02em;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.card-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #14274A;
    margin-right: 3rem;
    max-width: 33.875rem;
    margin-bottom: 1.875rem;
}
 .btn-card {
    background: #E0B973;
    width: 14.75rem;
    height: 3.938rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: 1px solid #E0B973;
    text-decoration: none;
    padding: 3% 5% 3% 5%;
 }
.btn-card:hover {
    background: #fff;
    color: #E0B973;
}